<div class="sidebar__inner">
  <div class="author__avatar">
    <img src="{{ "/assets/images/profile.jpg" | relative_url }}" alt="{{
    site.author.name }}">
  </div>

  <div class="author__content">
    <h2 class="author__name">{{ site.author.name }}</h2>
    <p class="author__bio">{{ site.author.bio }}</p>
  </div>

  <div class="author__urls">
    {% if site.author.links %}
    <ul class="author__urls-list">
      {% for link in site.author.links %}
      <li class="author__urls-item">
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"
          >{{ link.label }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
